
body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  font-family: 'Inter', sans-serif;
  color: #fff;
  overflow-x: hidden;
  position: relative;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin: 100px auto;
  padding: 20px;
  background: none
   }

h1 {
  font-size: 2em;
  color: #ff4d4d;
  text-align: center;
  margin-bottom: 10px;
}

#contador {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.texto {
  margin: 20px 0;
  background-color: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  color: #ccc;
}

.fio-vermelho {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 200px;
  background-image: url("imagens/maos_fio_vermelho.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0.15;
  pointer-events: none;
  z-index: 0;
}

.galeria {
  max-width: 100%;
  margin: 30px 0;
}

.galeria img {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
 }
.slick-dots li button:before {
  color: #ff4d4d;
  opacity: 0.5;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}
